body{
	background: #002f2f;
}

html{
	margin: 0px;
	padding: 0px;
}

.boxlogin{
	border-radius: 4px;
	box-shadow: 0px 2px 8px #d6d6d6;
	margin: 100px auto;
	padding: 30px;
	width: 320px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

input[type="submit"]{
	margin-top: 14px;
}